@use "sass:string";
@forward "mixins";
@forward "variables/breakpoints";
@use "variables/breakpoints" as *;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

// typography
$font-primary: "Space Grotesk", sans-serif;

$font-size-base: 16;
$font-size: $font-size-base * 1px;

// sizes
$border-radius: 8px;

// transitions
$transition-speed: 0.2s;
$navigation-animation-speed: 150ms;
