@use "../../styles/variables" as *;

.block {
  background-color: #15136b;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 1000px;

  @include media-query(0, $breakpoint-medium) {
    height: 60vh;
    min-height: 600px;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 1rem;

  @include media-query(0, $breakpoint-medium) {
    flex-direction: column;
  }
}

.link {
  text-decoration: none;
  color: white;
}

.linkWies {
  text-decoration: none;
  color: black;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slider {
  border: #000000 5px solid;
  padding: 1rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  // Top-right corner extension
       &::before {
         content: "";
         position: absolute;
         top: -15px;
         left: -15px;
         width: 30px;
         height: 30px;
         border-block-start: 5px solid #000000;
         border-inline-start: 5px solid #000000;
       }
     
       // Bottom-right corner extension
       &::after {
         content: "";
         position: absolute;
         bottom: -15px;
         right: -15px;
         width: 30px;
         height: 30px;
         border-block-end: 5px solid #000000;
         border-inline-end: 5px solid #000000;
       }
}

.separator {
  @include media-query(0, $breakpoint-medium) {
    display: none;
  }
}
