@use "../../styles/variables" as *;

.background {
  background-color: #910009;
  height: 100vh;
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.block {
  background-color: #00b9fe;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  flex-direction: column;
  position: relative;
}

.block::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #910009;
  z-index: 1;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));

  clip-path: polygon(
    0% 100%,
    1% 86%,
    4% 93%,
    7% 79%,
    10% 88%,
    13% 83%,
    16% 95%,
    19% 77%,
    22% 90%,
    25% 81%,
    28% 92%,
    31% 76%,
    34% 87%,
    37% 84%,
    40% 94%,
    43% 78%,
    46% 89%,
    49% 82%,
    52% 91%,
    55% 75%,
    58% 86%,
    61% 85%,
    64% 93%,
    67% 80%,
    70% 88%,
    73% 83%,
    76% 95%,
    79% 74%,
    82% 87%,
    85% 81%,
    88% 92%,
    91% 79%,
    94% 89%,
    97% 84%,
    100% 100%
  );
}

.block::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, transparent 30%, #0092c7 100%);
  z-index: -1;
  pointer-events: none;
}

.card {
  background: #ffffff;
  border: #000000 5px solid;
  border-radius: 25px;
  margin: 2rem;
  width: 80%;
  height: fit-content;
  max-width: 920px;
  padding: 2rem;

  @include media-query(0, $breakpoint-small) {
    width: 70%;
  }
}

.header {
  font-size: xx-large;
  color: white;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.41);
  text-align: center;

  @include media-query(0, $breakpoint-medium) {
    font-size: x-large;
  }
}

.music {
  -webkit-animation: flicker 2s linear infinite both;
  animation: flicker 2s linear infinite both;
}

@-webkit-keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
