@use "../../styles/variables" as *;

.background {
  background-color: #15136b;
  height: 100vh;
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.block {
  background-color: #910009;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  flex-direction: column;
  position: relative;
}

.block::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #15136b;
  z-index: 1;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));

  clip-path: polygon(
    0% 100%,
    2% 87%,
    4% 94%,
    6% 81%,
    9% 90%,
    12% 84%,
    15% 96%,
    18% 76%,
    21% 88%,
    24% 82%,
    27% 93%,
    30% 79%,
    33% 86%,
    36% 85%,
    39% 92%,
    42% 74%,
    45% 89%,
    48% 83%,
    51% 95%,
    54% 78%,
    57% 87%,
    60% 81%,
    63% 91%,
    66% 77%,
    69% 88%,
    72% 84%,
    75% 93%,
    78% 75%,
    81% 86%,
    84% 82%,
    87% 94%,
    90% 80%,
    93% 89%,
    96% 85%,
    99% 91%,
    100% 100%
  );
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  max-width: 2000px;
}

.header {
  font-family: "Ledlight", sans-serif;
  font-size: xxx-large;
  color: white;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.41);
  text-align: center;
  margin-bottom: 2rem;

  @include media-query(0, $breakpoint-medium) {
    font-size: x-large;
  }
}

.exclamation {
  -webkit-animation: flicker 2s linear infinite both;
  animation: flicker 2s linear infinite both;
}

.gameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.gameCanvas {
  border: #000000 5px solid;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: fit-content;

  canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  @include media-query($breakpoint-medium, $breakpoint-large) {
    max-width: 700px;
    //also check for viewport height
    @media (orientation: landscape) and (max-height: 500px) {
      width: 600px;
      height: 300px;
    }
  }

  @include media-query(0, $breakpoint-medium) {
    width: 90%;
    height: fit-content;

    canvas {
      width: 100% !important;
      height: auto !important;
    }
  }
}

.gameUI {
  background: #ffffff;
  border: #000000 5px solid;
  margin: 2rem;
  width: 80%;
  height: fit-content;
  max-width: 734px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include media-query(0, $breakpoint-small) {
    width: 70%;
  }

  position: relative;

  // Top-right corner extension
  &::before {
    content: "";
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-block-start: 5px solid #000000;
    border-inline-end: 5px solid #000000;
  }

  // Bottom-left corner extension
  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: -15px;
    width: 30px;
    height: 30px;
    border-block-end: 5px solid #000000;
    border-inline-start: 5px solid #000000;
  }
}

.scoreBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: large;
  gap: 0.5rem;
  color: #15136b;

  @include media-query(0, $breakpoint-small) {
    flex-direction: column;
    align-items: center;
  }
}

.instructions {
  p {
    margin: 0.5rem 0;
    font-size: large;
    color: #27233a;
  }
}

.startButton,
.restartButton {
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  background: #15136b;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #910009 50%,
    #910009
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: 0.8s;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 0px #563f3b;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  margin-top: 1rem;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

  &:hover {
    background-position: 0 0;
    transition: 0.8s;
  }

  @include media-query($breakpoint-medium) {
    font-size: x-large;
  }
}

.gameOverScreen {
  h2 {
    color: #27233a;
    margin: 0 0 1rem 0;
    font-size: x-large;
  }

  p {
    margin: 0.5rem 0;
    font-size: large;
    color: #27233a;
  }
}

.newRecord {
  color: #ff8c42 !important;
  font-weight: bold;
  font-size: x-large !important;
}

.gameControls {
  p {
    margin: 0;
    font-size: large;
    color: #27233a;
    font-weight: bold;
  }
}

.indicator {
  display: flex;
  justify-content: center;

  &.hide {
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
  }
}

.arrow {
  position: relative;
  top: 0px;
  left: 0px;
  animation: move 2s ease infinite;
  color: white;
}

@keyframes move {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
