@use "../../styles/variables" as *;

.background {
  background-color: #ff8c42;
  height: 100vh;
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.block {
  background-color: #27233a;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  flex-direction: column;
  clip-path: polygon(
    0% 0,
    100% 0,
    100% 100%,
    99% 98%,
    97% 99%,
    95% 98.25%,
    93% 98%,
    91% 98.75%,
    89% 99%,
    87% 98%,
    85% 98.75%,
    83% 98.5%,
    81% 98.75%,
    80% 98%,
    78% 99%,
    76% 98%,
    74% 98.2%,
    72% 99%,
    70% 98%,
    68% 98.5%,
    66% 98.75%,
    64% 98.25%,
    62% 99%,
    60% 99%,
    58% 98.2%,
    56% 98.5%,
    54% 98.75%,
    52% 99%,
    50% 98%,
    48% 98.8%,
    46% 98.25%,
    44% 98%,
    42% 98.5%,
    40% 98%,
    38% 98.75%,
    36% 98.5%,
    34% 98%,
    32% 99%,
    30% 98.5%,
    28% 99%,
    26% 98.75%,
    24% 98%,
    22% 98%,
    20% 99%,
    18% 99%,
    16% 98.25%,
    14% 98.75%,
    12% 98%,
    10% 98.5%,
    8% 98%,
    6% 98.75%,
    5% 98.25%,
    4% 99%,
    3% 98%,
    2% 98.75%,
    1.5% 99%,
    1% 98%,
    0.5% 98.75%,
    0% 100%,
    0% 90%
  );
}

.card {
  background: #ffffff;
  border: #000000 5px solid;
  border-radius: 25px;
  margin: 2rem;
  max-width: 80%;
  height: fit-content;
  max-width: 920px;
  padding: 2rem;
}

.header {
  font-size: xx-large;
  color: white;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.41);
}

.exclamation {
  -webkit-animation: flicker 2s linear infinite both;
  animation: flicker 2s linear infinite both;
}

.bio {
  @include media-query(0, $breakpoint-small) {
    font-size: medium;
  }
  @include media-query($breakpoint-small, $breakpoint-medium) {
    font-size: large;
  }
}

@-webkit-keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
