@use "../../styles/variables" as *;

.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #9c89b8;
  opacity: 0.95;
  padding-bottom: 1rem;
  clip-path: polygon(
    0% 0,
    100% 0,
    100% 90%,
    99% 80%,
    97% 85%,
    95% 82.25%,
    93% 81%,
    91% 83.75%,
    89% 82%,
    87% 81%,
    85% 83.75%,
    83% 82.5%,
    81% 83.75%,
    80% 85%,
    78% 82%,
    76% 81%,
    74% 82.2%,
    72% 84%,
    70% 82%,
    68% 82.5%,
    66% 83.75%,
    64% 82.25%,
    62% 81%,
    60% 81%,
    58% 85.2%,
    56% 82.5%,
    54% 83.75%,
    52% 81%,
    50% 82%,
    48% 82.8%,
    46% 82.25%,
    44% 81%,
    42% 82.5%,
    40% 81%,
    38% 83.75%,
    36% 82.5%,
    34% 81%,
    32% 81%,
    30% 82.5%,
    28% 81%,
    26% 83.75%,
    24% 81%,
    22% 81%,
    20% 81%,
    18% 81%,
    16% 82.25%,
    14% 83.75%,
    12% 81%,
    10% 82.5%,
    8% 81%,
    6% 83.75%,
    5% 82.25%,
    4% 81%,
    3% 81%,
    2% 83.75%,
    1.5% 81%,
    1% 82%,
    0.5% 83.75%,
    0% 83%,
    0% 90%
  );
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;

  @include media-query(0, $breakpoint-medium) {
    padding: 1rem;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.contactWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.contactIcon {
  color: #000000;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.logoText {
  font-size: x-large;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
