@import "../../styles/variables";
.block {
  background-color: #f95738;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}

.card {
  background: #ffffff;
  border: #000000 5px solid;
  border-radius: 25px;
  margin: 2rem;
  width: 80%;
  height: fit-content;
  max-width: 1440px;
  padding: 2rem;
}

.desktopHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;

  @include media-query(0, $breakpoint-medium) {
    display: none;
  }
}

.mobileHeader {
  @include media-query($breakpoint-medium) {
    display: none;
  }
}

.show {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  padding: 1rem 0;
  font-size: x-large;

  @include media-query(0, $breakpoint-medium) {
    font-size: large;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  @include media-query($breakpoint-medium, $breakpoint-large) {
    font-size: x-large;
  }
}
