@import "../../styles/variables";
.block {
  background-color: #f95738;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ffffff;
  border: #000000 5px solid;
  border-radius: 25px;
  margin: 2rem;
  width: 80%;
  height: 80%;
  max-width: 1440px;
}
