@use "../../styles/variables" as *;

.background {
  background-color: #27233a;
  height: 100vh;
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.block {
  background-color: #eaefd3;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  flex-direction: column;
  clip-path: polygon(
    0% 0,
    100% 0,
    100% 100%,
    99.8% 99%,
    99.5% 98.75%,
    99.2% 98.5%,
    99% 98.25%,
    98.8% 98%,
    98.5% 98.75%,
    97% 98.5%,
    96% 98.5%,
    95% 99%,
    94% 99.5%,
    93% 99.75%,
    92% 99.5%,
    91% 99.3%,
    90% 99%,
    89% 98.75%,
    88% 100%,
    87% 99%,
    86% 100%,
    84.5% 99.8%,
    83% 100%,
    82% 99.5%,
    81% 99.75%,
    80% 100%,
    79% 99.8%,
    78% 99.5%,
    77% 99.75%,
    76% 100%,
    70% 99.8%,
    66% 98%,
    64% 99%,
    62% 100%,
    60% 99%,
    58% 99.5%,
    56% 99.75%,
    54.5% 99.5%,
    53% 99.75%,
    52% 100%,
    51% 99.75%,
    50% 99.5%,
    48% 99.25%,
    46% 98%,
    45% 99.75%,
    44% 99.5%,
    42% 99.25%,
    40% 98.5%,
    39.5% 99.75%,
    39% 100%,
    37.5% 99.8%,
    35.5% 99.9%,
    34% 99.5%,
    33% 99.75%,
    31.5% 100%,
    30% 99.75%,
    28.5% 99%,
    27% 99.75%,
    25.5% 100%,
    23% 99.5%,
    22% 100%,
    20.5% 99.5%,
    19% 100%,
    17.6% 99.75%,
    16.2% 100%,
    14.8% 99.75%,
    13.4% 100%,
    12.2% 99.75%,
    11% 100%,
    9.8% 99.75%,
    8.6% 99.5%,
    7.4% 99.75%,
    6% 99%,
    5% 98.75%,
    4% 99%,
    3% 98.5%,
    2.5% 98%,
    2% 98.3%,
    1.75% 98%,
    1.5% 98.5%,
    1.25% 99%,
    1% 99.25%,
    0.75% 99.5%,
    0.5% 100%,
    0.25% 100%,
    0% 100%,
    0% 90%
  );
}

.header {
  font-size: xx-large;
  color: black;
  text-shadow: 0 2px 20px rgb(208, 197, 150);
}

.card {
  background: #ffffff;
  border: #000000 5px solid;
  border-radius: 25px;
  margin: 2rem;
  width: 80%;
  height: fit-content;
  max-width: 1440px;
  padding: 2rem;
}

.desktopHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;

  @include media-query(0, $breakpoint-medium) {
    display: none;
  }
}

.mobileHeader {
  @include media-query($breakpoint-medium) {
    display: none;
  }
}

.show {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  padding: 1rem 0;
  font-size: x-large;

  @include media-query(0, $breakpoint-medium) {
    font-size: large;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  @include media-query($breakpoint-medium, $breakpoint-large) {
    font-size: x-large;
  }
}

.dot {
  -webkit-animation: flicker 2s linear infinite both;
  animation: flicker 2s linear infinite both;
}

@-webkit-keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
