@use "../../styles/variables" as *;

.background {
  background-color: #d001e6;
  height: 100vh;
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.block {
  background-color: #15136b;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  flex-direction: column;
  position: relative;
}

.block::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #d001e6;
  z-index: 1;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));

  clip-path: polygon(
    0% 100%,
    2% 85%,
    5% 91%,
    8% 83%,
    11% 89%,
    14% 86%,
    17% 94%,
    20% 78%,
    23% 88%,
    26% 82%,
    29% 92%,
    32% 77%,
    35% 87%,
    38% 84%,
    41% 93%,
    44% 79%,
    47% 89%,
    50% 81%,
    53% 91%,
    56% 76%,
    59% 86%,
    62% 85%,
    65% 94%,
    68% 80%,
    71% 88%,
    74% 83%,
    77% 92%,
    80% 75%,
    83% 87%,
    86% 82%,
    89% 93%,
    92% 79%,
    95% 89%,
    98% 84%,
    100% 100%
  );
}

.block::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, transparent 30%, #100f53 100%);
  z-index: -1;
  pointer-events: none;
}

.header {
  font-family: "Ledlight", sans-serif;
  font-size: xxx-large;
  color: white;
  text-shadow: 0 2px 20px rgb(21, 19, 107);
}

.card {
  background: #ffffff;
  border: #000000 5px solid;
  margin: 2rem;
  width: 80%;
  height: fit-content;
  max-width: 1440px;
  padding: 2rem;
  position: relative;

 // Top-right corner extension
      &::before {
        content: "";
        position: absolute;
        top: -15px;
        left: -15px;
        width: 30px;
        height: 30px;
        border-block-start: 5px solid #000000;
        border-inline-start: 5px solid #000000;
      }
    
      // Bottom-right corner extension
      &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        right: -15px;
        width: 30px;
        height: 30px;
        border-block-end: 5px solid #000000;
        border-inline-end: 5px solid #000000;
      }
}

.desktopHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;

  @include media-query(0, $breakpoint-medium) {
    display: none;
  }
}

.mobileHeader {
  @include media-query($breakpoint-medium) {
    display: none;
  }
}

.show {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  padding: 1rem 0;
  font-size: x-large;

  @include media-query(0, $breakpoint-medium) {
    font-size: large;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  @include media-query($breakpoint-medium, $breakpoint-large) {
    font-size: x-large;
  }
}

.dot {
  -webkit-animation: flicker 2s linear infinite both;
  animation: flicker 2s linear infinite both;
}

@-webkit-keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
