@use "../../styles/variables" as *;

.background {
  background-color: #141162;
  height: 100vh;
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.block {
  background-color: #910009;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  flex-direction: column;
  position: relative;
}

.block::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #141162;
  z-index: 1;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));

  clip-path: polygon(
    0% 100%,
    1% 85%,
    3% 92%,
    5% 78%,
    8% 88%,
    11% 82%,
    14% 95%,
    17% 75%,
    20% 90%,
    23% 80%,
    26% 93%,
    29% 76%,
    32% 87%,
    35% 83%,
    38% 96%,
    41% 72%,
    44% 89%,
    47% 81%,
    50% 94%,
    53% 77%,
    56% 86%,
    59% 84%,
    62% 91%,
    65% 79%,
    68% 88%,
    71% 85%,
    74% 92%,
    77% 74%,
    80% 87%,
    83% 82%,
    86% 95%,
    89% 78%,
    92% 90%,
    95% 83%,
    98% 89%,
    100% 100%
  );
}

.block::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, transparent 30%, #670007 100%);
  z-index: -1;
  pointer-events: none;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  max-width: 1440px;

  @include media-query(0, $breakpoint-medium) {
    flex-direction: column;
  }
}

.socksWrap {
  display: flex;
  justify-content: center;
  width: 40%;
  min-height: 150px;

  @include media-query($breakpoint-medium, $breakpoint-x-large) {
    width: 30%;
  }

  @include media-query(0, $breakpoint-medium) {
    display: none;
  }
}

.socks {
  position: relative;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  aspect-ratio: 1/1;
  animation: rotate 5s ease infinite;

  @include media-query(0, $breakpoint-medium) {
    width: 10rem;
    height: 10rem;
  }
}

.contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 60%;
  padding-top: 3rem;

  @include media-query($breakpoint-medium, $breakpoint-x-large) {
    width: 70%;
  }

  @include media-query(0, $breakpoint-medium) {
    width: 90%;
    padding-top: 0;
  }

  @include media-query($breakpoint-medium) {
    padding-top: 8rem;
  }
}

.textBubble {
  background: #ffffff;
  border: #000000 5px solid;
  border-radius: 25px;
  text-align: center;
  padding: 1rem;

  @include media-query($breakpoint-medium) {
    max-width: 71%;
    margin: 0;
  }

  @include media-query(0, $breakpoint-medium) {
    width: 100%;
    max-width: 85%;
  }
}

.intro {
  margin: 1rem;
  @include media-query(0, $breakpoint-large) {
    font-size: x-large;
  }
}

.imageWrap {
  display: flex;
  justify-content: center;

  @include media-query(0, $breakpoint-medium) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.imageBubble {
  display: block;
  border: #000000 5px solid;
  border-radius: 25px;
  max-width: 75%;
  width: auto;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;

  @include media-query(0, $breakpoint-medium) {
    width: 100%;
    max-width: 90%;
  }
}

.indicator {
  display: flex;
  justify-content: center;

  &.hide {
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
  }
}

.arrow {
  position: relative;
  top: 0px;
  left: 0px;
  animation: move 2s ease infinite;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #129490;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #9c89b8 50%,
    #9c89b8
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: 0.8s;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 0px #563f3b;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  width: fit-content;
  border-radius: 25px;
  gap: 0.5rem;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

  &:hover {
    background-position: 0 0;
    transition: 0.8s;
  }
}

.right {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 1));
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 2rem;

  @include media-query($breakpoint-medium) {
    max-width: 75%;
  }
}

@keyframes move {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes rotate {
  50% {
    transform: rotate(15deg);
  }
}
