@import "../../styles/variables";

.block {
  background-color: #eaefd3;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  min-height: 800px;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;

  @include media-query(0, $breakpoint-medium) {
    flex-direction: column;
  }
}

.socks {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: 80%;
  animation: rotate 5s ease infinite;

  @include media-query(0, $breakpoint-medium) {
    max-width: 10rem;
  }
}

.socksWrap {
  display: flex;
  justify-content: center;
  width: 50%;
  @include media-query(0, $breakpoint-medium) {
    margin: 10% 0;
    width: 100%;
  }
}

.contentWrap {
  width: 50%;
  padding-top: 3rem;

  @include media-query(0, $breakpoint-medium) {
    width: 100%;
    padding-top: 0;
  }
}

.textBubble {
  background: #ffffff;
  border: #000000 5px solid;
  border-radius: 25px;
  margin: 1rem 2rem;
  @include media-query($breakpoint-medium) {
    max-width: 75%;
  }
}

.intro {
  margin: 1rem;
  @include media-query(0, $breakpoint-large) {
    font-size: x-large;
  }
}

.imageBubble {
  border: #000000 5px solid;
  border-radius: 25px;
  margin: 1rem 2rem;
  max-width: 75%;
  transition: width 1s ease-in-out;
  @include media-query(0, $breakpoint-medium) {
    display: none;
  }
}

.indicator {
  display: flex;
  justify-content: center;

  &.hide {
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
  }
}

.arrow {
  position: relative;
  top: 0px;
  left: 0px;
  animation: move 2s ease infinite;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #129490;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #9c89b8 50%,
    #9c89b8
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: 0.8s;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 0px #563f3b;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  width: fit-content;
  border-radius: 25px;
  gap: 0.5rem;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

  &:hover {
    background-position: 0 0;
    transition: 0.8s;
  }
}

.right {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 1));
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 2rem;

  @include media-query($breakpoint-medium) {
    max-width: 75%;
  }
}

@keyframes move {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes rotate {
  50% {
    transform: rotate(15deg);
  }
}
