@use "../../styles/variables" as *;

.background {
  background-color: #eaefd3;
  height: 100vh;
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.block {
  background-color: #9c89b8;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  flex-direction: column;
  clip-path: polygon(
    0% 0,
    100% 0,
    100% 100%,
    99.8% 99%,
    99.5% 98.75%,
    99.2% 98.5%,
    99% 98.25%,
    98.8% 98%,
    98.5% 98.75%,
    96% 98.5%,
    95.2% 98.6%,
    94.1% 98.6%,
    93% 99.75%,
    90.5% 99.1%,
    89.4% 99.6%,
    88% 100%,
    87% 99%,
    86% 100%,
    84.5% 99.8%,
    83% 100%,
    82% 99.5%,
    81% 99.75%,
    80% 100%,
    79% 99.8%,
    78% 99.5%,
    77% 99.75%,
    76% 99.5%,
    74% 99.9%,
    72% 99.75%,
    69% 98.5%,
    65% 99%,
    63% 100%,
    61% 99%,
    59% 99.5%,
    57.2% 99.75%,
    55% 99.2%,
    53.4% 99.5%,
    52% 100%,
    50.3% 99.9%,
    48% 99.25%,
    46% 98%,
    44.5% 99.5%,
    43.2% 99.6%,
    41% 99.35%,
    39% 99.2%,
    37.5% 99.8%,
    36.6% 98.9%,
    35.5% 99.5%,
    34% 99.5%,
    32.7% 100%,
    30.5% 99.8%,
    29.2% 98.75%,
    27% 99.75%,
    26% 98.4%,
    24% 99.9%,
    21.8% 100%,
    20.2% 99.5%,
    19% 100%,
    17.6% 99.75%,
    16.2% 100%,
    15% 99.5%,
    13.2% 99.9%,
    11.9% 99.5%,
    10.6% 99.85%,
    9.5% 99%,
    8.6% 99.5%,
    7.2% 99.2%,
    6% 99.25%,
    5% 98.75%,
    4% 98%,
    2.5% 99.6%,
    2% 98.3%,
    1.75% 98%,
    1.5% 98.5%,
    1.25% 99%,
    1% 99.25%,
    0.75% 99.5%,
    0.5% 100%,
    0.25% 100%,
    0% 100%,
    0% 90%
  );
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  max-width: 1440px;

  @include media-query(0, $breakpoint-medium) {
    flex-direction: column;
  }
}

.socksWrap {
  display: flex;
  justify-content: center;
  width: 40%;
  min-height: 150px;

  @include media-query($breakpoint-medium, $breakpoint-x-large) {
    width: 30%;
  }

  @include media-query(0, $breakpoint-medium) {
    display: none;
  }
}

.socks {
  position: relative;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  aspect-ratio: 1/1;
  animation: rotate 5s ease infinite;

  @include media-query(0, $breakpoint-medium) {
    width: 10rem;
    height: 10rem;
  }
}

.contentWrap {
  width: 60%;
  padding-top: 3rem;

  @include media-query($breakpoint-medium, $breakpoint-x-large) {
    width: 70%;
  }

  @include media-query(0, $breakpoint-medium) {
    width: 100%;
    padding-top: 0;
  }

  @include media-query($breakpoint-medium) {
    padding-top: 8rem;
  }
}

.textBubble {
  background: #ffffff;
  border: #000000 5px solid;
  border-radius: 25px;
  margin: 1rem;
  text-align: center;

  @include media-query($breakpoint-medium) {
    max-width: 75%;
    margin: 1rem 2rem;
  }
}

.intro {
  margin: 1rem;
  @include media-query(0, $breakpoint-large) {
    font-size: x-large;
  }
}

.imageWrap {
  min-height: 400px;
  aspect-ratio: 4/3;

  @include media-query(0, $breakpoint-medium) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.imageBubble {
  display: block;
  border: #000000 5px solid;
  border-radius: 25px;
  margin: 1rem 2rem;
  max-width: 75%;
  width: auto;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;

  @include media-query(0, $breakpoint-medium) {
    width: 100%;
    max-width: 90%;
  }
}

.indicator {
  display: flex;
  justify-content: center;

  &.hide {
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
  }
}

.arrow {
  position: relative;
  top: 0px;
  left: 0px;
  animation: move 2s ease infinite;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #129490;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #9c89b8 50%,
    #9c89b8
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: 0.8s;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 0px #563f3b;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  width: fit-content;
  border-radius: 25px;
  gap: 0.5rem;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

  &:hover {
    background-position: 0 0;
    transition: 0.8s;
  }
}

.right {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 1));
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 2rem;

  @include media-query($breakpoint-medium) {
    max-width: 75%;
  }
}

@keyframes move {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes rotate {
  50% {
    transform: rotate(15deg);
  }
}
